/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


.site-name
{
	display:none;
}

.col-sm-12{
	padding:0px!important;
}

.portlet-title-text{
	display:none!important;
}

.col-md-3{
	padding-left:0px!important;
}

.col-sm-3{
	padding-left:0px!important;
}

#sign-in{
	float: right!important;
	padding-right: 44px!important;
}

.container-fluid{
	padding:0px;
}

.portlet-content{
	padding:0px;
}

.col-md-12 portlet-column portlet-column-only{
	padding:0px;
}
